<div class="modal fade" id="edit_contact">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Edit Contact</h4>
      </div>
      <div class="modal-body">
        <%= render 'form', contact: @contact %>
      </div>
    </div>
  </div>
</div>
