<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">New Contact</h3>
  </div>
  <div class="panel-body">
    <%= render 'form', contact: @contact %>
  </div>
</div>

